body{
 margin: 0;
}

.Name-color{
    color: rgb(124, 226, 29);

}
h1{
 font-size: 40px;
}
h2{
    text-align: center;
}
.bttn{
    text-decoration: none;
    background-color:yellow;
    padding:10px 20px;
    border-radius: 8px;
}
.hif-width{
    width: 42%;
    float: left;
    margin-left:5%;
    padding-left: 2%;
    
}
.hif-width img{
    width: 100%;
}
section{
    height: 500px ;
}
.bg-clr{
    background-color: lightblue;
}
.raw{
    display: flex;
}
.column{
  box-shadow: 10px 15px 1px solid royalblue;
    width:30%;
    margin-left:5%;
    float: left;
    padding: 2%;
}

.column img{
    width: 100%;
}
h3{
    color: #eee7e7;
}
.hif{
    width: 35%;
    float: left;
    margin-left: 10%;
    padding-left:2% ;
}
.bg-color{
    padding:20px;
    margin: 300px;
    background-color:rgba(4, 4, 107, 0.972);
    height: 50px;
    border-radius: 10px;
}
.center{
    text-align: center;
}